<p><%= t('usuarios.mailer.reset_password_instructions.greeting', nome: @resource.nome) %></p>

<p><%= t('usuarios.mailer.reset_password_instructions.message_html') %></p>

<p><%= link_to t('usuarios.mailer.reset_password_instructions.change_password_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('usuarios.mailer.reset_password_instructions.ignore_notice') %></p>
<p><%= t('usuarios.mailer.reset_password_instructions.note') %></p>