<% content_for :title, t('.title') %>

<div class="pagina-autenticacao">
  <div class="formulario-auth">
    <div class="formulario-auth__cabecalho">
      <i class="bi bi-envelope-check"></i>
      <h1><%= t('.heading') %></h1>
      <p><%= t('.description') %></p>
    </div>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "usuarios/shared/error_messages", resource: resource %>

      <div class="formulario-auth__grupo">
        <%= f.label :email, t('.email_label'), class: "formulario-auth__label" %>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "formulario-auth__input",
                          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                          placeholder: t('.email_placeholder') %>
      </div>

      <%= f.submit t('.submit'), class: "botao botao--primario botao--completo botao--grande" %>
    <% end %>

    <div class="formulario-auth__rodape">
      <%= render "usuarios/shared/links" %>
    </div>
  </div>
</div>