<footer class="rodape">
  <div class="rodape__container">
    <div class="rodape__info">
      <div class="rodape__logo">
        <i class="bi bi-film"></i>
        <span>Catálogo de Filmes</span>
      </div>
      <p class="rodape__texto">
        <%= t(".presentation_phrase") %>
      </p>
    </div>

    <div class="rodape__links">
      <div class="rodape__coluna">
        <h4><%= t("navigation") %></h4>
        <ul>
          <li><%= link_to t("movies"), filmes_path %></li>
          <li><%= link_to t("categories"), categorias_path %></li>
        </ul>
      </div>

      <div class="rodape__coluna">
        <h4><%= t("account") %></h4>
        <ul>
          <% if usuario_signed_in? %>
            <li><%= link_to t("perfil"), edit_usuario_registration_path %></li>
            <li><%= link_to t("sign_out"), destroy_usuario_session_path, data: { turbo_method: :delete } %></li>
          <% else %>
            <li><%= link_to t("sign_in"), new_usuario_session_path %></li>
            <li><%= link_to t("sign_up"), new_usuario_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="rodape__copy">
    <p><%= Time.current.year %> <%= t(".developed_by", developer_name: "Eloá Mello") %></p>
  </div>
</footer>