<div class="formulario">
  <div class="formulario__container">
    <h2 class="formulario__titulo">
      <%= categoria.new_record? ? t("categorias.new.title") : t("categorias.edit.title") %>
    </h2>

    <%= form_with(model: categoria) do |f| %>
      <div class="formulario__grupo">
        <%= f.label :nome, t("name"), class: "formulario__label" %>
        <%= f.text_field :nome,
                         class: "formulario__input",
                         placeholder: t(".placeholder.name"),
                         autofocus: true %>
      </div>

      <div class="formulario__acoes">
        <%= f.submit categoria.new_record? ? t("save") : t("update"), class: "formulario__botao formulario__botao--primario" %>
        <%= link_to t("cancel"), categorias_path, class: "formulario__botao formulario__botao--secundario" %>
      </div>
    <% end %>
  </div>
</div>