<div class="col d-flex align-items-stretch">
  <div class="card w-100 h-100 d-flex flex-column" style="max-width: 320px; margin: auto;">
    <% if filme.poster.attached? %>
      <%= image_tag filme.poster, class: "card-img-top", alt: filme.titulo %>
    <% else %>
      <div class="card-img-top placeholder-titulo d-flex align-items-center justify-content-center">
        <span class="placeholder-text"><%= filme.titulo %></span>
      </div>
    <% end %>

    <div class="card-body d-flex flex-column">
      <h5 class="card-title mb-2"><%= filme.titulo %></h5>
      <p class="card-text"><%= filme.ano %></p>
      <p class="card-text"><b><%= t(".direction") %>:</b> <%= filme.diretor %></p>

      <div class="mt-auto d-flex gap-2 flex-column flex-sm-row">
        <%= link_to t(".details"), filme_path(filme), class: "btn botao--primario w-100 flex-sm-fill" %>
        <% if usuario_signed_in? && filme.usuario == current_usuario %>
          <%= link_to t("edit"), edit_filme_path(filme), class: "btn botao--secundario w-100 flex-sm-fill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
