<div id="<%= dom_id filme %>">
  <p>
    <strong>Titulo:</strong>
    <%= filme.titulo %>
  </p>

  <p>
    <strong>Sinopse:</strong>
    <%= filme.sinopse %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= filme.ano %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= filme.duracao %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= filme.diretor %>
  </p>

</div>
