<% content_for :title, "Novo Filme" %>

<div class="container my-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title mb-4">Novo Filme</h1>

      <%= form_with(model: @filme) do |form| %>
        <% if @filme.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@filme.errors.count, "erro") %> proibiu este filme de ser salvo:</h4>
            <ul>
              <% @filme.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :poster, class: "form-label" %>
          <%= form.file_field :poster, class: "form-control"%>
        </div>

        <div class="mb-3">
          <%= form.label :titulo, class: "form-label" %>
          <%= form.text_field :titulo, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :sinopse, class: "form-label" %>
          <%= form.text_area :sinopse, class: "form-control", rows: 5 %>
        </div>

        <div class="mb-3">
          <%= form.label :ano, class: "form-label" %>
          <%= form.number_field :ano, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :duracao, class: "form-label" %>
          <%= form.number_field :duracao, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :diretor, class: "form-label" %>
          <%= form.text_field :diretor, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :categoria_ids, "Categorias Existentes" %>
          <%= form.select :categoria_ids,
                          options_from_collection_for_select(Categoria.all, :id, :nome, @filme.categoria_ids),
                          {},
                          { multiple: true, class: "form-select tom-select" } %>
        </div>

        <%= form.submit "Salvar Filme", class: "btn btn-primary" %>
      <%= link_to "Voltar para filmes", filmes_path, class: "btn btn-secondary ms-2" %>
      <% end %>
    </div>
  </div>
</div>