<% content_for :title, @filme.titulo %>

<div class="filme-show container my-5">

  <div class="row g-4 mb-4 align-items-start">
    <div class="col-md-4">
      <div>
        <% if @filme.poster.attached? %>
          <%= image_tag @filme.poster, class: "card-img-top rounded-top", alt: @filme.titulo %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <h1 class="mb-2"><%= @filme.titulo %> <span class="small-text">(<%= @filme.ano %>)</span> </h1>
      <p class="mb-1"><%= t("director") %>: <%= @filme.diretor %></p>
      <p class="mb-1"><%= t("duration") %>: <%= @filme.duracao %> min</p>
      <p class="mb-3"><%= @filme.sinopse %></p>

      <% if @filme.categorias.any? %>
        <p class="mb-2"><%= t("categories") %>: <%= @filme.categorias.map(&:nome).join(", ") %></p>
      <% end %>

      <% if @filme.tags.any? %>
        <div class="mb-3">
          <% @filme.tags.each do |tag| %>
            <span class="badge bg-secondary me-1"><%= tag.nome %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if usuario_signed_in? && @filme.usuario == current_usuario %>
    <div class="mb-4">
      <%= link_to t("edit"), edit_filme_path(@filme), class: "botao botao--secundario" %>
    </div>
  <% end %>

  <hr class="my-4">

  <div class="comentarios mb-5">
    <h4 class="mb-3"><%= t(".leave_your_comment") %></h4>

    <%= form_with(model: [@filme, Comentario.new], local: true, class: "mb-4") do |form| %>
      <% unless usuario_signed_in? %>
        <div class="formulario__grupo mb-3">
          <%= form.label :nome_visitante, t("name"), class: "formulario__label" %>
          <%= form.text_field :nome_visitante, class: "formulario__input", placeholder: t(".placeholder_comment_name"), required: true %>
        </div>
      <% end %>

      <div class="formulario__grupo mb-3">
        <%= form.label :conteudo, t("comment"), class: "formulario__label" %>
        <%= form.text_area :conteudo, class: "formulario__input", rows: 3, placeholder: t(".placeholder_comment_content"), required: true %>
      </div>

      <%= form.submit t(".post_comment"), class: "botao botao--primario" %>
    <% end %>

    <h4 class="mb-3"><%= t("comments") %> (<%= @filme.comentarios.count %>)</h4>
    <% @filme.comentarios.each do |comentario| %>
      <div class="comentario-card border p-3 mb-2 rounded shadow-sm">
        <p class="mb-1"><%= comentario.usuario&.nome || comentario.nome_visitante %> <%= t(".said") %>:</p>
        <p class="mb-0"><%= comentario.conteudo %></p>
      </div>
    <% end %>
  </div>

</div>
