<% content_for :title, t(".title") %>
<table class="table table-striped table-hover mt-3">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= t(".created_at") %></th>
    <th><%= t(".status") %></th>
  </tr>
  </thead>
  <tbody>
  <% @importacoes.each do |importacao| %>
    <tr>
      <td><%= importacao.id %></td>
      <td><%= importacao.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td>
        <% case importacao.status %>
        <% when "em_andamento" %>
          <span class="badge bg-warning text-dark"><%= t("in_progress") %></span>
        <% when "concluido" %>
          <span class="badge bg-success"><%= t("completed") %></span>
        <% when "erro" %>
          <span class="badge bg-danger"><%= t("error") %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>