<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Catalogo De Filmes" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>">
        <%= image_tag "logo.svg", alt: "Catálogo de Filmes", class: "logo-navbar me-2" %>
        Catálogo de Filmes
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
              aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <% if usuario_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_usuario.nome %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to "Perfil", edit_usuario_registration_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= button_to "Logout", destroy_usuario_session_path, method: :delete, form: { class: "d-inline" }, class: "dropdown-item btn btn-link p-0" %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Registrar", new_usuario_registration_path, class: "btn btn-primary" %>
            </li>
            <li class="nav-item">
              <%= link_to "Entrar", new_usuario_session_path, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<%= yield %>
<div id="toast-flash-data" style="display:none;"><%= toast_flashes %></div>
</body>
</html>
